@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Calligraffitti&family=Ephesis&family=Fasthand&family=Love+Light&family=Playfair+Display:wght@400..900&family=Satisfy&family=Sintony&display=swap');

#app {
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: italic;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #CDBCA5;
    min-height: 100vh;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #edf6f9;
    top: 0;
    width: 100%;
  }

  nav a.router-link-exact-active  {
    color: white;
    border-bottom: white  3px solid;
    margin-left: auto;
    
  }
  

  nav a.router-link-exact-active {
    color: #42b983;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    
   background-color:whitesmoke;
    
    bottom:0;
    left:-50%;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


  #footer {
    background-color: #372216;
    font-size: medium;
    padding: 8px;
    width: 100%;
    margin-top: 20px; /* Adjust the value as needed */
    text-align: center;
  }
.bg-brown {
    background-color: #3F291C;
}


.social-icons .bi {
  font-size: 1.5rem; /* Set icon size */
  margin: 0 10px; /* Add margin between icons */
}


